@import 'vuetify/src/styles/styles.sass';

$tiptap-editor-line-height: 1.75rem !default;
$tiptap-editor-min-height: 32px !default;
$tiptap-editor-padding: 0 !default;
$tiptap-editor-prefix-padding-top: 2px !default;
$tiptap-editor-box-enclosed-prefix-margin-top: 24px !default;
$tiptap-editor-box-enclosed-single-outlined-margin-top: 10px !default;
$tiptap-editor-box-enclosed-single-outlined-label-top: 18px !default;
$tiptap-editor-dense-box-enclosed-single-outlined-margin-top: 6px !default;
$tiptap-editor-dense-append-prepend-margin-top: 8px !default;
$tiptap-editor-solo-append-prepend-margin-top: 12px !default;
